a {
   padding-bottom: 2px;
}

.red{
    background-color: red;
    width: 100%;
}

.blue{
    background-color: blue;
    width: 100%;
}


.modal-header  {
    background-color: rgb(46, 122, 97);
    color: white;
}

.modal-body  {
    padding: 1rem 0 0 0;
}

.modalForm  {
    
    /* width: 70%; */
    /* margin: 0 auto;
    margin-bottom: 1rem; */
    color: white;
}

.modalInputs  {
    background-color: blue;
    /* width: 70%; */
    margin: 0 auto;
    margin-bottom: 1rem;
    color: white;
}

.modal-footer  {
    background-color: aquamarine;
}

.searchBtn{
    background-color: white;
    color:black;
    border-radius: 3px;
    border-color: black;
}

.searchBtnClicked{
    background-color: black;
    color:whitesmoke;
}

/* .searchInput{
    width:90%;
} */

