main {
    background-color: #ffff00;
}

.navbar {
    background-color: #4c4c4c;
}

a {
   color: #fff;
}

.navbar-light .navbar-brand {
    
    color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #fff;
}

.navbar-toggler, .button {
    color: #fff;
}

a .nav-link {
    color: #fff;
}

.red{
    background-color: red;
    width: 100%;
}

.blue{
    background-color: blue;
    width: 100%;
}


.modal-header  {
    background-color: #4c4c4c;
    color: white;
}

.modal-body  {
    padding: 1rem 0 0 0;
}

.modalForm  {
    
    /* width: 70%; */
    /* margin: 0 auto;
    margin-bottom: 1rem; */
    color: white;
}

.modalInputs  {
    background-color: rgb(228, 224, 29);
    /* width: 70%; */
    margin: 0 auto;
    margin-bottom: 1rem;
    color: white;
}

.inputRow {
    margin-left: 10px;
}

.modal-footer, .modalSearchButton   {
    background-color: darkslategray;
}

.searchBtn{
    background-color: white;
    color:black;
    border-radius: 3px;
    border-color: black;
}

.searchBtnClicked{
    background-color: black;
    color:whitesmoke;
}

/* .searchInput{
    width:90%;
} */

