main {
    background-color: #ffff00;
    position: relative;
}


#getUserInfo {
    color: #ffff00;
    right: 10px;
}

.opening {
    background-color: rgb(148, 148, 148);
    color: white;
}
.opening .greeting {
    text-align: center;
    border: 1px solid #343a40;
    line-height: 1.5;
}

.opening .openingContent {
    padding-bottom: 1.4rem;
}


.opening {
    background-color: rgb(148, 148, 148);
    color: white;
}
.opening .greeting {
    text-align: center;
    border: 1px solid #454545;
    line-height: 1.5;
}

.opening .openingContent {
    padding-bottom: 1.4rem;
}


.opening .openingText {
    width: 90%;
    margin: 0 auto;
    font-size: 1.3rem;

}

.opening button {
    margin-left: 10%;
}

.brandName {
    color: #ffff00;
}

.navbar-brand .brandName {
    font-size: 1.6rem;
}

.nav-link.userInfoLink {
    justify-content: end;
}

/* .userInfoLink {
    float: right;
    padding-right: 15px;
} */


.opening button {
    margin-left: 50px;
}

a {
   padding-bottom: 2px;
}

.red{
    background-color: #343a40;
    color: white;
    width: 100%;
}

.blue{
    background-color: darkgray;
    color;
    width: 100%;
}


.modalHeadFoot  {

    background-color: #343a40;

    color: white;
    margin-bottom: 0;
}

.modal-body  {
    padding: 0;
}

.modalInputs {

    background-color: #ffff00;
    padding: 6px 0 6px 0;
}

.modalForm  {
    
    margin: 0;

    background-color: #ffff00;     
    color: black;
    padding-bottom: 0;
}

.inputRow {
    margin-left: 10px;
}

.modal-footer, .modalSearchButton   {
    color: white;
    padding: 6px 15px 6px 15px;
}

span.searchBtn{

    background-color: rgb(148, 148, 148);

    color: white;
    border-radius: 3px;
    border-color: black;
}

.searchBtnClicked{
    background-color: black;
    color:whitesmoke;
}

.theater-modal {
    background-color: #343a40;
    text-align: center;
    color: white;
}

.theaterModalDisplay {
    background-color: #343a40;
}

